.section {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: var(--spacing-lg);
    padding-top: var(--spacing-lg);
    position: relative;
    text-align: left;
    width: 100%;
}

.projectContainer {
    display: grid;
    grid-template-columns: 60% 40%;
}

.projectContainer header img {
    max-width: 100%;
}

.projectContent {
    display: inline-block;
    z-index: 1;
}

@media only screen and (max-width: 500px) {
    .projectContainer {
        display: grid;
        grid-template-columns: 100%;
    }
}
